Mathematical Operators in Python

In [25]:
a = 6
b = 3

print("a + b =", a + b) #Addition
print("a - b =", a - b) #Substraction
print("a * b =", a * b) #Multiplication
print("a / b =", a / b) #Division
print("a // b =", a // b)
print("a ** b =", a ** b)

a + b = 9
a - b = 3
a * b = 18
a / b = 2.0
a // b = 2
a ** b = 216

Comparison operators in Python

In [ ]:
b = 50
d = 20
print("b == d is", b == d)
print("b != d is", b != d)
print("b > d is", b > d)
print("b < d is", b < d)
print("b >= d is", b >= d)
print("b <= d is", b <= d)

b == d is False
b != d is True
b > d is True
b < d is False
b >= d is True
b <= d is False

Logical Operators in Python

In [ ]:
g = True
h = False
print("g AND h is", g and h)
print("g OR h is", g or h)
print("NOT h is", not h)

g AND h is False
g OR h is True
NOT h is True

Assignment Operators in Python

In [17]:
g = 2
g += 2
#g = g + 2
print(g)

4

In [7]:
g = 2
g -= 2
#g = g - 2
print(g)

0

In [8]:
g = 2
g *= 2
#g = g * 2
print(g)

4

In [6]:
g = 2
g /= 2
#g = g / 2
print(g)

1.0

In [9]:
g = 2
g %= 2
#g = g % 2
print(g)

0

In [10]:
g = 2
g //= 2
#g = g // 2
print(g)

1

In [11]:
g = 2
g **= 2
#g = g ** 2
print(g)

4

In [12]:
g = 2
g &= 2
#g = g & 2
print(g)

2

In [13]:
g = 2
g |=2
#g = g | 2
print(g)

2

In [14]:
g = 2
g ^= 2
#g = g ^ 2
print(g)

0

In [15]:
g = 2
g <<= 2
#g = g << 2
print(g)

8

In [16]:
g = 2
g >>= 2
#g = g >> 2
print(g)

0

Identity Operators in Python

In [ ]:
x1 = 7
y1 = 7
x2 = 'Welcome'
y2 = 'Welcome'
x3 = [0,1,2]
y3 = [0,1,2]

print(x1 is not y1)

print(x2 is y2)

print(x3 is  y3)

False
True
False

Membership Operator in Python

In [ ]:
g = 'Welcome Guies'
h = {1:'a',2:'b'}

print('G' in g)

print('Welcome' not in g)

print(1 in h)

print('a' in h)

True
False
True
False

For loop

In [19]:
Fruits = ["banana","apple","mango"]
for i in Fruits:
  print(i)

banana
apple
mango

while loop

In [21]:
count = 0
while count < 10:
  count = count + 1
  print(count)

1
2
3
4
5
6
7
8
9
10

Range

In [24]:
print(range(5))

print(list(range(10)))

print(list(range(3, 8)))

print(list(range(1, 20, 3)))

range(0, 5)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7]
[1, 4, 7, 10, 13, 16, 19]